body{
    font-family: 'Roboto', sans-serif;
}

/*navbar*/
.menu-bar{
    
    background: linear-gradient(to right, #a517ba,#5f1782);
}
ul li{
    padding: 10px;
}
ul li a{
        position: relative;
}
ul li a::before{
    content: "";
    bottom: 0;
    left: 0;
    background:white;
    width: 0;
    height: 2px;
    position: absolute;
    transition: .5s;
}
ul li a:hover::before{
    width: 100%;
}
/*Banner*/
.banner{
    
    background: linear-gradient(to right, #a517ba,#5f1782);
}
.banner-content{
    margin-top: 200px;
}
.banner-content h2{
    font-size: 40px;
    line-height: 48px;
}
.banner-content p{
    font-size: 1.25rem;
    font-weight: 300;
    
}
.tutorial img{
    width: 10%;
}
.tutorial p{
    margin-left: 30px;
    margin-top: 10px;
}
.tutorial a{
    display: block;
}
.wave img{
    width: 100%;
}
.main-part{
    height: 600px;
}
.right-banner{
    margin-top: 50px;
}
/*Service section*/
.service{
    height: 500px;
}
.section-header::after{
    content: "";
    bottom: 0;
    left: 30px;
    height: 5px;
    width: 70%;
    display:inline-block;
    background:linear-gradient(to right, #a517ba,#5f1782) ;
    position: absolute;
    transform: translateY(20px);
    margin: auto;
   
}
.section-header{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    
    
}
.service-header{
    text-align: center;
    margin-bottom: 80px;
}
.service img{
    width: 100px;
    margin-left: 10px;
}

.card-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.card{
    border: none;
}
.card-group{
    margin-bottom: 30px;
}
.service .button{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    
}
.service-button{
    text-align: center;
}
/*About*/
.About{
    background:#f8f9fa ;
    padding-bottom: 50px;
  
}
.t-header{
   text-align: center;
   padding-top: 50px;
   margin-bottom: 80px;
   
}
.about-content img{
    width: 250px;
}
.about-content h1{
    font-weight: 500;
}
.about-content ul li{
    padding-bottom: .25rem;
    padding-top: .25rem;
    color: dimgray;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
/* testimonial */
.testimonial{
    height: 450px;
    padding-top: 80px;
    padding-bottom: 20px;
   

}
.test-head{
    text-align: center;
    padding-bottom: 80px;
}
.test-head h1{
    position: relative;
    display: inline-block;
}
.test-head h1::after{
    content: "";
    bottom: 0;
    left: 80px;
    background:linear-gradient(to right, #a517ba,#5f1782);
    height: 5px;
    width: 50%;
    position: absolute;
    margin: auto;
    transform: translateY(20px);
   
}
.half-width{
    width: 50%;
    float: left;
}
.image-box img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.test-text{
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
}
.half-width{
    border-left:5px solid #000;
    border-image: linear-gradient(#a517ba,#5f1782);
    border-image-slice: 1;
    
    
}
.test-content{
    margin-left: 20px;
}
/* Contact  */
.contact{
    background: rgba(139, 136, 136,.1);
    padding-top:50px ;
    height: 285px;
}
.contact-head{
    text-align: center;
    padding-bottom: 60px;
}
.contact-head h1{
    position: relative;
    display: inline-block;
}
.contact-head h1::before{
    content: '';
    bottom: 0;
    left: 150px;
    width: 40%;
    height: 5px;
    background:linear-gradient(to right, #a517ba,#5f1782);
    position: absolute;
    transform: translateY(20px);
    
}
.icon-menu img{
    width: 5%;
    transition: .5s;
}
.icon-menu img:hover{
    transform: translateY(-10px);
}

/* Foooter */
.footer{
    background:linear-gradient(to right, #a517ba,#5f1782);
}
.left-footer img{
    height: 31px;
    width: 110px;
    margin-bottom: 20px;
}
h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: white;
}
button{
    background: linear-gradient(to right, #a517ba,#5f1782) !important;
    border: none !important;
    border-radius: 0 !important;
}
.sada{
    color: white;
    transform: translateY(20px);
}
.footer-para{
    font-size: 20px;
    font-weight: 300;
    line-height: 60px;
}
